@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Inter:wght@400;700&family=Jua&display=swap');

body{
    margin : 0;
    height: 5000px;
    font-family: 'Inter' , sans-serif;
    background : black;
}

iframe{
    display: flex;
    align-items: center;
    height: 70vh;
    width: 121vh;
    margin: 0 auto;
}

#text1{
    font-size: 4em;
    margin-top: 100px;
    text-align: center;
    color:white;
}
