@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Inter:wght@400;700&family=Jua&display=swap');

body{
    margin : 0;
    height: 5000px;
    font-family: 'Inter' , sans-serif;
    background : black;
}

iframe{
    position : absolute;
    left : 0;
    right: 0;
    margin : auto;
    height: 70vh;
    width: 121vh;
}

#text1{
    position:absolute;
    color : #fff;
    font-size: 3em;
    transform: translate(-12% , -460%);
}
