@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Inter:wght@400;700&family=Jua&display=swap');

body{
    margin : 0;
    height: 5000px;
    font-family: 'Inter' , sans-serif;
    background : black;
}
#point_text{
    color : #FFD200;
}

#section1{
    color : white;
    margin-left: 80px;
    margin-top: 200px;
}

#video1{
    display: flex;
}

#first_text h1{
    font-size: 3em;
}